@model BlogWebsite.Controllers.BlogPost

@{
    ViewBag.Title = "Details";
}
<style>
    .main-body {
        /*background: url(../imgs/banner-bg.jpg);*/
        background-color: grey;
        background-size: 100% 100%;
    }
    dt,dd,h2 {
    color:white;
    }
    button {
     color: white;
     border-radius:20px;
    }

</style>
<body class="main-body">
    <h2>Details</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Updated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Updated)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Slug)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Slug)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Body)
            </dt>

            <dd>
                @Html.Raw(Model.Body)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MediaUrl)
            </dt>

            <dd>
                @if (Model.MediaUrl != null)
                {
                    <img class="img-responsive" src="@Model.MediaUrl" alt="">
                }

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Published)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Published)
            </dd>

        </dl>
    </div>
    <p>
        <button>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        </button>
        <button>
            @Html.ActionLink("Back to List", "Index")
        </button>

    </p>
</body>
